@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.circle {
  @include circle-spinning($circle-size);

  &.no-interactions {
    background-color: $green;
  }

  &.interactions {
    background-color: $warning-orange;
  }

  &.error {
    background-color: $light-blue;
  }

  .happy-pill, .alert-pill {
    width: 44px;
    height: 77px;
    fill: $white;
  }
}
