@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.circle {
  @include circle-spinning($circle-size);

  &.no-interactions {
    background-color: $green;
  }

  &.interactions {
    background-color: $warning-orange;
  }

  &.error {
    background-color: $error-circle-bg;
    .alert-pill {
      fill: #103a5c;
    }

    .caption {
      color: #103a5c;
    }
  }

  .happy-pill, .alert-pill {
    width: 44px;
    height: 77px;
    fill: $white;
  }

  .and {
    color: $text-color;
    font-size: 22px;
  }

  .caption {
    margin-top: 10px;
    color: $white;
    font-weight: 600;
  }
}
