$black: #000;
$light-blue: #29abe2;
$hover-gray: #545454;
$white: #fff;
$text-color: #103a5c;
$drug-gray-background: #e7ebee;

$green: #8cc63f;
$warning-orange: #fe4f4f;
$error-circle-bg: #cfd8de;
$error-circle-color: #889cac;

$back-button-bg: $black;
$back-button-hover: #103A5C;
$horizontal-rule-color: #e8ecec;

$light-gray-text: #a6b6c2;
$medium-gray-text: #adbbc5;
$gray-text: #7d93a4;