$black: #000;
$light-blue: #29abe2;
$hover-gray: #545454;
$white: #fff;
$text-color: #0e3456;
$drug-gray-background: #cfdce1;
$header-gray-background: #efefef;

$green: #8cc63f;
$warning-orange: #ef5a30;

$back-button-bg: $black;
$back-button-hover: #103A5C;
$horizontal-rule-color: #e8ecec;
$disclaimer-color: #e4eaee;
$text-alt-color: #7d8a90;
