$black: #000;
$light-blue: #29abe2;
$hover-gray: #545454;
$white: #fff;
$text-color: #103a5c;
$drug-gray-background: #e7ebee;
$header-gray-background: #efefef;

$green: #8cc63f;
$warning-orange: #ef5a30;

$back-button-bg: $black;
$back-button-hover: #103A5C;
$horizontal-rule-color: #e8ecec;

$light-gray-text: #a6b6c2;
$medium-gray-text: #adbbc5;
$gray-text: #7d93a4;