.tagline {
  display: flex;
  justify-content: center;
  > span {
    margin: 0 10px;
  }
  .before {
    color: #7D8A90;
  }
}

$line-top: 116px;

.compare-body {
  display: flex;
  padding: 0 calc((100vw - 1000px) * 0.5);

  .compare-left, .compare-center, .compare-right {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: relative;
  }

  .compare-left:before {
    height: 2px;
    position: absolute;
    left: calc(50% + 39px);
    right: 0;
    top: $line-top;
    content: '';
    background-color: black;
  }

  .compare-center:before {
    height: 2px;
    position: absolute;
    left: 0;
    width: 52px;
    top: $line-top;
    content: '';
    background-color: black;
  }

  .compare-center:after {
    height: 2px;
    position: absolute;
    right: 0;
    width: 52px;
    top: $line-top;
    content: '';
    background-color: black;
  }

  .compare-right:after {
    height: 2px;
    position: absolute;
    left: 0;
    right: calc(50% + 45px);
    top: $line-top;
    content: '';
    background-color: black;
  }

  svg {
    height: 120px;
  }

  .image-wrapper {
    display: flex;
    align-items: center;
    height: 232px;
  }

  .circle {
    width: 232px;
    height: 232px;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;

    > span {
      font-size: 24px;
      border-top: 2px solid #c6cbc9;
      border-bottom: 2px solid #c6cbc9;
    }
  }
}