$light-blue: #29abe2;

.tagline {
  display: flex;
  justify-content: center;
  height: $tagline-height;
  > span {
    margin: 0 10px;
  }
  .before {
    color: #7D8A90;
  }
}

$line-top: 116px;

.compare-body {
  display: flex;
  padding: 0 calc((100vw - 1000px) * 0.5);

  .compare-left, .compare-center, .compare-right {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: relative;
  }

  .compare-left:before {
    height: 2px;
    position: absolute;
    left: calc(50% + 39px);
    right: 0;
    top: $line-top;
    content: '';
    background-color: black;
  }

  .compare-center:before {
    height: 2px;
    position: absolute;
    left: 0;
    width: 52px;
    top: $line-top;
    content: '';
    background-color: black;
  }

  .compare-center:after {
    height: 2px;
    position: absolute;
    right: 0;
    width: 52px;
    top: $line-top;
    content: '';
    background-color: black;
  }

  .compare-right:after {
    height: 2px;
    position: absolute;
    left: 0;
    right: calc(50% + 45px);
    top: $line-top;
    content: '';
    background-color: black;
  }

  .pill-bottle, .pill {
    height: 120px;
  }

  .image-wrapper {
    display: flex;
    align-items: center;
    height: 232px;
  }

  .circle {
    width: $circle-size;
    height: $circle-size;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;

    > span {
      font-size: 24px;
      border-top: 2px solid #c6cbc9;
      border-bottom: 2px solid #c6cbc9;
    }
  }
}

.new-drug {
  overflow: hidden;
  background-color: #CFDCE1;
  padding: 8px 6px;
  line-height: 1;
  width: 100%;
  margin-top: 7px;

  .delete {
    float: right;
  }

  .small-x {
    width: 12px;
    height: 12px;
  }
}

.existing-drugs-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;

  .existing-drug {
    @extend .new-drug;
  }
}

.view-side-effects {
  margin-top: 67px;
  background-color: $light-blue;
  border-radius: 56px;
  width: 200px;
  line-height: 56px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  border: none;
  padding: 0;
  &:hover {
    color: white;
    text-decoration: none;
    background-color: #545454;
  }
}