footer {
  width: 100%;
  background-color: $disclaimer-blue;
  padding-top: 28px;
  margin-top: 100px;
  padding-bottom: 45px;
  text-align: center;
  color: $text-alt-color;
  position: relative;
  .disclaimer {
    text-transform: uppercase;
    font-weight: 900;
    border-bottom: 1px solid #ccc4d1;
    margin-bottom: 10px;
  }
  p {
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 1;
  }
  .fine-print {
    line-height: 1;
    font-size: 14px;
  }

  .arrow {
    position: absolute;
    bottom: 100%;
    left: calc(50% - 10px);

    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    border-bottom: 10px solid $disclaimer-blue;

  }
  .svg {
    width: 32px;
    height: 56px;
    position: absolute;
    bottom: 100%;
    margin-bottom: 20px;
    left: 50%;
    margin-left: -16px;
    svg {
      stroke: $text-alt-color;
      fill: $text-alt-color;
      display: block;
    }
  }
}