header {
  background-color: $light-blue;
}

.logo {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 105px;
  height: $header-height;
  background-color: $light-blue;
  text-transform: uppercase;
  color: $black;
  font-size: 14px;
  line-height: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;


  @media (max-device-width: 480px) {
    position: static;
    margin: 0 auto;
  }
}