header {
  height: 135px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $header-gray-background;
}

.logo {
  width: 105px;
  height: 105px;
  text-transform: uppercase;
  color: $black;
  font-size: 14px;
  line-height: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tagline {
  margin: 75px 0 20px;
  text-align: center;
  font-size: 21px;

  .before {
    color: $text-alt-color;
  }

  .separator {
    margin: 0 10px;
    color: $light-blue;
    .fa {
      font-weight: 900;
    }
  }

  .separator:before, .separator:after {
    content: ' ';
  }

  .after {
    color: $text-color;
  }
}

@media (max-width: $break-width) {
  .tagline {
    font-size: 5.3vw;
  }
}