header.main {
  .logo {
    margin: 0;
    padding: 0;
    width: 74px;
    height: 76px;
    background-color: #29ABE2;
    text-transform: uppercase;
    color: #000;
    font-size: 14px;
    line-height: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .tagline {
    display: flex;
    justify-content: center;
    > span {
      margin: 0 10px;
    }
    .before {
      color: #7D8A90;
    }
  }
}