html, body , #root, .safe-meds {
  width: 100%;
  height: 100%;
}

.page {
  min-height: 100%;
  margin-bottom: -$footer-height;

  display: flex;
  flex-direction: column;

  @media (max-width: $break-width) {
    min-height: 900px;
  }

  &:after {
    content: '';
    display: block;
    height: $footer-height;
  }

  .compare-page, .side-effects-page {
    flex: 1;
  }
}

a {
  transition: none;
  &[role=button] {
    cursor: pointer;
  }
}

body {
  color: $black;
  background-image: url('images/background-thatch.png');
}