html, body , #root, .safe-meds {
  width: 100%;
  height: 100%;
}

.page {
  min-height: 100%;
  margin-bottom: -$footer-height;

  display: flex;
  flex-direction: column;

  @media (max-width: $break-width) {
    min-height: 900px;
  }

  &:after {
    content: '';
    display: block;
    height: $footer-height;
  }
}

.compare-page, .side-effects-page {
  flex: 1;
  max-width: $page-width;
  width: 100%;
  margin: 0 auto;

  padding: 40px;
  background: white;

  .tagline {
    margin: 10px 0 20px;
    text-align: center;
    font-size: 24px;

    .before {
      color: $text-alt-color;
    }

    .separator {
      margin: 0 10px;
    }

    .separator:before, .separator:after {
      content: ' ';
    }
  }

  .drugs-header {
    display: flex;
    align-items: center;

    .image-left {
      flex: 1;
      position: relative;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;

      .pill-bottle {
        height: 120px;
        width: 79px;
      }

      &:before {
        height: 2px;
        position: absolute;
        left: 50%;
        margin-left: 39px;
        right: 0;
        top: 50%;
        content: '';
        background-color: $black;
      }
    }

    .image-center {
      flex: 1;
      position: relative;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;

      .circle {
        width: $circle-size;
        height: $circle-size;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        .and {
          font-size: 24px;
          border-top: 2px solid #c6cbc9;
          border-bottom: 2px solid #c6cbc9;
        }
      }

      &:before {
        height: 2px;
        position: absolute;
        left: 0;
        width: calc(50% - 116px);
        top: 50%;
        content: '';
        background-color: $black;
      }

      &:after {
        height: 2px;
        position: absolute;
        right: 0;
        width: calc(50% - 116px);
        top: 50%;
        content: '';
        background-color: $black;
      }
    }

    .image-right {
      flex: 1;
      position: relative;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;

      .pill {
        height: 120px;
        width: 120px;
      }

      &:after {
        height: 2px;
        position: absolute;
        left: 0;
        right: 50%;
        margin-right: 45px;
        top: 50%;
        content: '';
        background-color: $black;
      }
    }
  }

  @media (max-width: $break-width) {
    width: inherit;
    padding: 0;
    margin: 0;

    .tagline {
      font-size: 5.3vw;
    }

    .drugs-header {
      display: none;
    }
  }
}

a {
  transition: none;
  &[role=button] {
    cursor: pointer;
  }
}

body {
  color: $black;
  background-image: url('images/background-thatch.png');
}