html, body , #root, .safe-meds {
  width: 100%;
  height: 100%;
}

.safe-meds-wrapper {
  min-height: 100%;
  margin-bottom: -$footer-height;

  display: flex;
  flex-direction: column;

  @media (max-width: $break-width) {
    min-height: 1100px;
  }

  &:after {
    content: '';
    display: block;
    height: $footer-height;
  }
}

.drugs-layout {
  flex: 1;
  max-width: $page-width;
  width: 100%;
  margin: 0 auto;
  padding: 40px;
  padding-top: 0;
  background: white;

  .drugs-header {
    display: flex;
    align-items: center;

    .image-left {
      flex: 1;
      position: relative;
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      padding-left: 25%;

      .pill-bottles {
        margin-left: -100px;
      }
    }

    .image-center {
      flex: 1;
      position: relative;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;

      .circle {
        width: $circle-size;
        height: $circle-size;
        border-radius: 50%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
      }
    }

    .image-right {
      flex: 1;
      position: relative;
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-end;
      padding-right: 25%;

      .pill {
        margin-right: -100px;
      }
    }

    .pill, .pill-bottles {
      height: 215px;
      width: 215px;
    }
    .image-left, .image-right {
      min-width: 1px;
      height: 215px;
    }
  }

  .pill-mobile, .pill-bottles-mobile {
    display: none;
  }

  @media (max-width: $break-width) {
    width: inherit;
    padding: 0;
    margin: 0;

    .drugs-header {
      display: none;
    }

    .compare-left {
      .pill-bottles-mobile {
        float: left;
        width: 60px;
        height: 50px;
        margin-top: 27px;
        margin-right: 15px;

        &, svg {
          display: block;
        }
      }

      .autocomplete-list {
        left: 75px;
      }
    }

    .compare-right {
      .pill-mobile {
        float: left;
        width: 41px;
        height: 40px;
        margin-top: 30px;
        margin-right: 15px;

        &, svg {
          display: block;
        }
      }

      .autocomplete-list {
        left: 56px;
      }
    }
  }
}

a {
  transition: none;
  &[role=button] {
    cursor: pointer;
  }
}

body {
  color: $black;
}

ol {
  list-style-type: decimal;
}