.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.95);

  .close-modal, .view-details {
    text-decoration: none;
  }

  .close-modal {
    position: absolute;
    left: 75%;
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    align-items: center;
    color: #BACAD0;
    top: 57px;
    font-size: 18px;
    .big-x {
      width: 55px;
      height: 55px;
      display: inline-block;
      margin-left: 10px;
      rect {
        fill: $light-blue;
      }
      &:hover rect {
        fill: $hover-gray;
      }
    }
  }

  .searching {
    position: absolute;
    top: 122px + $circle-size / 2;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    text-transform: capitalize;
  }

  @keyframes spin {
    from {
      transform:rotate(0deg);
    }
    to {
      transform:rotate(360deg);
    }
  }

  .circle {
    position: absolute;
    left: 50%;
    width: $circle-size;
    height: $circle-size;
    margin-left: -$circle-size / 2;
    top: 122px;
    border-radius: $circle-size;
    background-color: #8cc63f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    &.interactions {
      background-color: $warning-orange;
    }

    &.spinning {
      background-color: transparent;

      animation-name: spin;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }

    .arc {
      overflow: hidden;
      position: absolute;
      top: -1px;
      right: 50%;
      bottom: 50%;
      left: -1px;
      transform-origin: 100% 100%;

      &:before {
        box-sizing: border-box;
        display: block;
        border: solid 1px black;
        width: 200%; height: 200%;
        border-radius: 50%;
        transform: skewX(-0deg);
        content: '';
      }

      &.arc1 {
        transform: rotate(0deg) skewX(0deg);
      }
      &.arc2 {
        transform: rotate(90deg) skewX(0deg);
      }
      &.arc3 {
        transform: rotate(180deg) skewX(0deg);
      }
      &.arc4 {
        transform: rotate(270deg) skewX(15deg);
        &:before {
          transform: skewX(-15deg);
        }
      }
    }
  }

  .message {
    text-transform: uppercase;
    margin: 10px 30px;
  }

  .happy-pill, .alert-pill {
    width: 30px;
    height: 51px;
  }

  .view-details {
    background-color: #f59231;
    border-radius: 20px;
    color: $black;
    text-transform: capitalize;
    padding: 5px 10px;
  }
}