%button-dimensions {
  width: $search-button-width;
  height: 45px;
}

.circle-wrapper {
  @extend %button-dimensions;
  position: relative;
  .circle-spinner {
    $circle-size: 18px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -$circle-size / 2;
    margin-left: -$circle-size / 2;
    @include circle-spinning($circle-size);
    .arc:before {
      border-width: 2px;
      border-color: $light-blue;
    }
  }
}

.search-input-label {
  display: block;
  max-width: inherit;
  margin: inherit;
  font-weight: 400;
  color: $text-color;
}

.search-input {
  border: 2px solid transparent;
  border-right: 0;
  border-radius: 0;
  -webkit-appearance: none;
  background: transparent;
  outline: none;
  padding: 3px 8px;
  width: $list-width - $search-button-width;
  cursor: pointer;

  &::-webkit-input-placeholder {
    color: $light-gray-text;
  }

  &:disabled {
    -webkit-appearance: none;
    -webkit-text-fill-color: $light-gray-text;
    -webkit-opacity: 1
  }

  & ~ button {
    border: 2px solid transparent;
    border-left: 0;
    background: $white;
    color: $light-blue;
    opacity: 0;
    margin: 0;
    @extend %button-dimensions;

    &:disabled {
      color: $gray-text;
    }
  }

  &:focus {
    border: 2px solid $text-color;
    border-right: 0;
    background: $white;
    cursor: text;

    & ~ button {
      opacity: 1;
      border: 2px solid $text-color;
      border-left: 0;
    }

    & ~ .circle-wrapper {
      border: 2px solid $text-color;
      border-left: 0;
      background-color: $white;
    }
  }
}

.search-input-wrapper {
  line-height: 35px;
  display: flex;
  background: $drug-gray-background;

  @media (max-width: $break-width) {
    font-size: 4.2vw;
  }
}

.autocomplete {
  display: block;
}

.autocomplete-list {
  border: 2px solid $text-color;
  border-top: 0;
  background-color: $white;
  position: absolute;
  max-height: $autocomplete-max-height;
  top: 100%;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  list-style-type: none;
  z-index: 1;

  @extend %scrollable-y;
  a {
    @extend %ellipsis;
    padding: 0 8px;
    line-height: 42px;
    display: block;
    color: inherit;
    text-decoration: none;
    text-transform: capitalize;
    &:hover {
      color: $light-blue;
    }
    &.selected {
      background-color: $light-blue;
      color: white;
    }
  }
}