.side-effects-page {
  padding: 0 60px;

  header {
    display: none;
  }

  nav {
    overflow: hidden;
    margin-top: 10px;

    .summary {
      margin: 0 0 30px;
      position: relative;
      text-align: center;
      color: $warning-orange;
      font-weight: 900;
    }

    .back {
      float: left;
      text-transform: uppercase;
    }
  }

  .summary, h3, h4 {
    text-transform: capitalize;
  }

  h3 {
    font-size: 30px;
    font-weight: 600;
  }

  h4 {
    font-size: 22px;
  }

  p {
    font-size: 22px;
    font-weight: 200;
  }

  hr {
    height: 4px;
    position: relative;
    border: none;
    &:before {
      content: '';
      position: absolute;
      border-top: 4px solid $horizontal-rule-color;
      width: 25px;
      left: 0;
      top: 0;
    }
  }

  .highlight {
    background-color: $warning-orange;
    color: white;
  }


  @media (max-width: $break-width) {
    header {
      display: block;
    }

    .back span {
      display: none;
    }
  }
}