.side-effects-page {
  header {
    display: none;
  }

  section {
    width: 660px;
    margin: 0 auto;

    @media (max-width: $break-width) {
      width: auto;
      padding: 0 26px;
    }
  }

  nav {
    margin: 10px 0 30px;
    display: flex;
    align-items: baseline;

    .summary {
      position: relative;
      text-align: center;
      font-size: 18px;
      flex: 1;
      margin-right: 90px;

      &.no-interactions {
        color: $green;
      }

      &.interactions {
        color: $warning-orange;
      }

      &.error {
        color: $error-circle-color;
      }
    }

    .back {
      display: flex;
      align-items: baseline;
      font-size: 13px;
      font-weight: 600;
      text-transform: uppercase;
      text-decoration: none;
      width: 90px;
      position: relative;

      .fa {
        font-size: 20px;
        font-weight: bold;
        margin-right: 6px;
        position: absolute;
        top: -2px;
        left: -13px;
      }
    }

    @media (max-width: $break-width) {
      margin: 0 0 30px;
      flex-direction: column;
      align-items: auto;
      .back {
        margin: 0 0 20px;
        font-size: 16px;
        align-self: flex-start;
        .fa {
          margin-top: auto;
        }
      }
      .summary {
        margin-right: 0;
      }
    }
  }

  h3, h4, .table-of-contents a {
    text-transform: capitalize;
  }

  h3 {
    font-size: 30px;
    font-weight: 600;
  }

  h4 {
    font-size: 21px;
  }

  p {
    font-size: 21px;
    font-weight: 200;
    line-height: 1.75;
  }

  hr {
    height: 4px;
    position: relative;
    border: none;
    &:before {
      content: '';
      position: absolute;
      border-top: 3px solid $horizontal-rule-color;
      width: $horizontal-rule-width;
      left: 0;
      top: 0;
    }
  }

  .highlight {
    padding: 0 5px;
    background-color: $warning-orange;
    color: white;
    font-weight: 400;
  }

  .table-of-contents {
    color: $link-color;
    ol {
      padding: 0;
      list-style-position: inside;
    }

    li {
      font-size: 18px;
      @media (max-width: $break-width) {
        margin: 15px 0;
      }
    }
  }

  @media (max-width: $break-width) {
    header {
      display: block;
    }

    .table-of-contents li, h4, p {
      font-size: 18px;
    }

    p {
      font-weight: 400;
    }
  }
}