$circle-size: 200px;
$tagline-height: 46px;
$list-width: 100%;
$search-button-width: 10%;

$page-width: 1000px;
$autocomplete-max-height: 8em;

$footer-top-gutter: 200px;

$footer-height: 161px + $footer-top-gutter;

$break-width: 750px;

$horizontal-rule-width: 120px;