$circle-size: 232px;
$header-height: 105px;
$tagline-height: 46px;
$list-width: 100%;
$search-button-width: 20%;

$page-width: 1000px;
$autocomplete-max-height: 8em;

$footer-top-gutter: 200px;

$footer-height: 161px + $footer-top-gutter;

$break-width: 750px;